/* Styles the background, and the entire website */
body {
  margin: 0;

  background-color: darkslategray;
}
/* main body, excluding nav and footer, margin top is used to add space of nav */
main {
  margin: 20px;
  margin-top: 80px;

  font-family: "Book Antiqua", "Calisto MT", Didot, serif;
}

/* sections, adds borders, colour and padding */
section {
  padding: 1%;

  border-style: solid;

  background-color: white;
}

/* headers, adds header colours, padding, and borders */
header {
  padding: 10px;
  margin-bottom: 10px;

  text-align: center;
  color: white;

  border-style: solid;
  border-color: darkslategray;

  background-color: black;
}

/* footer */
footer {
  overflow: hidden;

  text-indent: 40px;
  color: white;

  background-color: black;
}

/* nav, hides excess and sets color
position keeps the nav bar at the top
top makes it so the navbar is flush with the top 
fixed menu was found here: https://www.w3schools.com/howto/howto_css_fixed_menu.asp */
nav {
  overflow: hidden;
  position: fixed;

  top: 0;
  width: 100%;

  color: white;

  background-color: black;
}

/* list item with an 'a' value (links). The float makes the list items in a row.
this is used with display as display handles how different values are displayed,
block separates this list even more, so you get a nice menu look*/
li a {
  float: left;
  display: block;

  padding: 16px 16px;

  text-align: center;
  color: white;
  text-decoration: none;
}
/* This adds a hover effect when hovering over the nav bar, changes colours */
li a:hover {
  color: black;
  font-weight: bold;

  background-color: white;
}

/* This styles the unordered lists - specifically the nav bar */
ul {
  overflow: hidden;

  margin: 0;
  padding: 0;
  width: 100%;

  list-style-type: none;

  background-color: black;
}

/* table modifications, mostly colour and border */
td,
th {
  border-style: solid;
  border-color: darkslategray;
}
th {
  border-style: solid;
  border-color: black;

  background-color: lightgray;
}
td {
  background-color: white;
}
/* sets table width, takes up full screen */
table {
  width: 100%;
}

/* centers the iframe */
iframe {
  display: block;
  margin: 0 auto;
}

/* adds a colour to the article */
article {
  padding: 10px;

  background-color: lightgray;
}

/* This centers figures, or where drawn pictures are being displayed */
figure {
  text-align: center;
}

/* Adds responsive image resizing
found it here: https://www.w3schools.com/css/tryit.asp?filename=tryresponsive_image2*/
img {
  width: 100%;
  height: auto;

  border-style: solid;
  border-color: darkslategray;
}
textarea {
  text-align: left;
}
